<!DOCTYPE html>
<html>

<head>
    <title>AI金融助手</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">

        <h1>AI金融助手</h1>

        <form method="POST">

            <input type="text" name="user_input" placeholder="请输入客户需求" value="{{ user_input }}">

            <button type="submit">开始分析</button>
            

        </form>
        <form method="POST" action="/clear">
            <button type="submit">清除对话</button>
        </form>
        
        <div class="result-box" id="chat-box">
            {% for message in messages %}
                  {% if message.role == "user" %}
                        <div class="message user-message">
                              <strong>你：</strong>{{message.content}}
                        </div>
                  {% elif message.role == "assistant" %}
                        <div class="message ai-message">
                               <strong>AI:</strong>{{message.content}}
                        </div>
                  {% endif %}
            {% endfor %}
        </div>

    </div>
<script>
    const chatBox = document.getElementById("chat-box");

    chatBox.scrollTop = chatBox.scrollHeight;
</script>
</body>

</html>